<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<div class="container">
<h1>RECTANGLE LIST</h1>
<table id ="rectangleList">
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Color</th>
  </tr>
    <% results.forEach(function(r) { %>
    <tr>
      <td><%= r.id %></td>
      <td><a href=""><%= r.name %></a></td>
      <td><%= r.color %></td>
    </tr>
  <% }); %>
  
</table>

<button><a href="/rectangles/new">Add a new rectangle</a></button>




</div>

</body>
</html>
