<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>


<div class="container">
  <h1>Home</h1>
  <p>Click on any of the tabs to view/edit the rectangle database!</p>
</div>


</body>
</html>
