<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-US-Compatible" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <%- include ("../partials/header.ejs") %>
        <title>Document</title>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div class="container">
            <h1>Add a rectangle</h1>

            <form action="/addrectangle" method="post">
                <input type="number" id="rId" name="id" placeholder="e.g. 1"> <br>
                <input type="text" id="rName" name="name" placeholder="MyRectangle"> <br>
                <input type="number" id ="rWidth" name="width" placeholder="width"> <br>
                <input type="number" id = "rHeight" name="height" placeholder="height"> <br>
                <input type="text" id = "rColor" name="color" placeholder="e.g. grey"> <br>
                <input type="submit">
            </form>

            <section class="return">
                <a href="/database">Return</a>
            </section>
        </div>
    </body>
</html>