<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
  <div class="container">
  <!-- display rect -->
  <svg>
    <rect width="300" height="100" style="fill:blue"></rect>
</svg> 
  <table id ="rectangleList">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Width</th>
      <th>Height</th>
      <th>Color</th>
    </tr>
      <td></td>
      <td><%= name %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <button><a href="/database">Return</a></button>
  </div>
</body>
</html>
