<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
  <div class="container">
  <h1>RECTANGLE LIST</h1>
  <table id ="rectangleList">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Width</th>
      <th>Height</th>
      <th>Color</th>
    </tr>
      <td></td>
      <td><%= name %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% }); %>
  </table>
  <button><a href="/database">Return</a></button>
  </div>
</body>
</html>
